<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"> 
		<link rel="stylesheet" href="/static/styles.css">
		<title>Sagenote</title>
	</head>
	<body>
		<div id="center">
		<input type="button" id="delete" value="Delete">
		<input type="button" id="refresh" value="Refresh">

		Sort by:
		<select id="sort_method">
			<option value="create_time">Create time</option>
			<option value="-create_time">Reverse create time</option>
			<option value="title">Title</option>
			<option value="-title">Reverse title</option>
			<option value="priority">Priority</option>
			<option value="-priority">Reverse priority</option>
			<option value="progress">Progress</option>
			<option value="-progress">Reverse progress</option>
		</select>

		<input type="checkbox" id="hide_complete">
		Hide complete
		<br>

		New note:
		<input type="text" id="new_note">
		<input type="button" value="Create" id="create">

		<br><br>
		<table>
			<thead>
				<tr>
					<td><input type="checkbox"></td>
					<td id="title">Title</td>
					<td id="edit">Edit</td>
					<td id="priority">Priority</td>
					<td id="progress">Progress</td>
				</tr>
			</thead>
			<tbody id="tasksTable">
			</tbody>
		</table>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/static/shownotes.js"></script>
	</body>
</html>
