<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"> 
		<link rel="stylesheet" href="/static/styles.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/static/shownotes.js"></script>
		<title>Sagenote</title>
	</head>
	<body>
		<div id="center">
		<input type="button" id="delete" value="Delete">
		<input type="button" id="refresh" value="Refresh">

		Sort by:
		<select id="sort_method">
			<option value="create_time">Create time</option>
			<option value="title">title</option>
			<option value="priority">priority</option>
			<option value="progress">progress</option>
			<option value="due_time">Due time</option>
		</select>

		<input type="checkbox" id="hide_complete">
		Hide complete
		<br>

		New note:
		<input type="text" id="new_note">

		<br><br>
		<table>
			<thead>
				<tr>
					<td></td>
					<td id="title">Title</td>
					<td id="priority">Priority</td>
					<td id="progress">Progress</td>
					<td id="due_time">Due time</td>
				</tr>
			</thead>
			<tbody id="tasksTable">
			</tbody>
		</table>
		</div>
	</body>
</html>
