<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"> 
		<link rel="stylesheet" href="/static/styles.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/static/shownotes.js"></script>
		<title>Sagenote</title>
	</head>
	<body>
		<input type="button" id="delete" value="Delete">
		<input type="button" id="refresh" value="Refresh">

		<table>
			<thead>
				<tr>
					<td></td>
					<td id="create_time">Create time</td>
					<td id="title">Title</td>
					<td id="priority">Priority</td>
					<td id="progress">Progress</td>
				</tr>
			</thead>
			<tbody id="tasksTable">
			</tbody>
		</table>
	</body>
</html>
